<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body>
  <header>
    <% include ../partials/header %>
  </header>

  <main class="peaksIndex">
      <h2>My Peaks</h2>
      <div class="row">
        <div class="col s2 m2 l2" id="bagged">
        <h4>Bagged:</h4>
          <% peaks.forEach(function(peak) { %>
            <% if (peak.summitted === true) { %>
              <h5>
                <a class="peakname" id="baggedpeak" href="/peaks/<%= peak._id %>">
                  <%= peak.name %>
                </a>
              </h5>
            <% } %>
          <% }) %>
        <a href="/peaks/new" class="btn">New</a>
      </div>

      <div class="col s2 m2 l2" id="wishList">
      <h4>Wish List:</h4>
          <% peaks.forEach(function(peak) { %>
            <% if (peak.summitted === false) { %>
              <h5>
                <a class="peakname" href="/peaks/<%= peak._id %>">
                  <%= peak.name %>
                </a>
              </h5>
            <% } %>
          <% }) %>
      </div>

      <div class="col s8 l8" id="myMap">
      <div id="map"></div>
        <script>
        var map;
        var myLatLng = {lat: 39.833, lng: -98.583};
        var locations = <%- allPeaksAsString %>;
        var myLocations = [];
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng,
            zoom: 4,
            mapTypeId: 'terrain'
          });
            var infowindow = new google.maps.InfoWindow();
            var marker, i;
            for (i = 0; i < locations.length; i++) {
              if (locations[i][3] === true) {
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
                map: map
              });
            } else {
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                map: map
            });
          }
              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                  infowindow.setContent(locations[i][0]);
                  infowindow.open(map, marker);
                }
              })(marker, i));
            }
        }
        </script>
      </div>
    </div>
  </main>

    <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXYwecmru-Up50RZpMUPXOaKGnMyEa3-k&callback=initMap">
    </script>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
