<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h2>My Peaks</h2>
        <h3>Bagged:</h3>
          <% peaks.forEach(function(peak) { %>
            <% if (peak.summitted === true) { %>
              <h4>
                <a href="/peaks/<%= peak._id %>">
                  <%= peak.name %>, <%= peak.latitude %>,
                  <%= peak.coords %>
                </a>
              </h4>
            <% } %>
          <% }) %>

      <h3>Wish List:</h3>
          <% peaks.forEach(function(peak) { %>
            <% if (peak.summitted === false) { %>
              <h4>
                <a href="/peaks/<%= peak._id %>">
                  <%= peak.name %>
                </a>
              </h4>
            <% } %>
          <% }) %>
    <a href="/peaks/new" class="btn btn-primary">Add New</a>
    </div>
  </main>

  <div class="container-fluid" id="map"></div>
    <script type="text/javascript">
      var map;
      var myLatLng = {lat: 37.745597, lng: -119.533575};
      var locations = <%- allPeaksAsString %>;
      var myLocations = [];


      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 4,
          mapTypeId: 'terrain'
        });

      var infowindow = new google.maps.InfoWindow();

      var marker, i;

      for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }
  }
    </script>

    <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXYwecmru-Up50RZpMUPXOaKGnMyEa3-k&callback=initMap">
        </script>


  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
