<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body>
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h2>My Peak</h2>
      <div class="row">
        <div class="col s6" id="show">
          <p><b>Bagged: </b>
            <% if (peak.summitted) { %>
                Yes
            <% } else { %>
              Not yet
            <% } %>
          </p>
          <p><b>Name: </b><%= peak.name %></p>
          <!-- <p><b>ID: </b><%= peak._id %></p> -->
          <p><b>Latitude: </b><%= peak.latitude %></p>
          <p><b>Longitude: </b><%= peak.longitude %></p>
          <!-- <p><b>Coordinates: </b><%= peak.coords %></p>   -->
          <p><b>Elevation (ft): </b><%= peak.elevation %></p>
          <p><b>Date Bagged: </b><%= peak.date %></p>
          <p><b>Notes: </b><%= peak.notes %></p>
          <p><b>Created at: </b><%= peak.createdAt %></p>
          <p><b>Updated at: </b><%= peak.updatedAt %></p>

          <a href="/peaks" class="btn">Back</a>
          <a href="/peaks/<%= peak._id %>/edit" class="btn">Edit</a>
          <form method="POST" action="/peaks/<%= peak._id %>?_method=DELETE">
            <a href="/peaks/<%= peak._id %>"></a>
            <button type="submit" class="btn">Delete</button>
          </form>
        </div>

  <div class="col s6">
    <div id="showMap"></div>
      <script>
      var map;
      var myLatLng = {lat: <%= peak.latitude %>, lng: <%= peak.longitude %>}

      function initMap() {
        map = new google.maps.Map(document.getElementById('showMap'), {
          center: myLatLng,
          zoom: 4,
          mapTypeId: 'terrain'
        });
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          // draggable: true,
          title: 'Set lat/long values'
        });
        map.setCenter(marker.position);
        marker.setMap(map);
      }
      </script>

  </div>
  </main>

  <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXYwecmru-Up50RZpMUPXOaKGnMyEa3-k&callback=initMap">
      </script>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
